<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <title>Profile</title>
</head>
<body>
    <div class="main">
        <div class="header">
            <h1>Welcome <%= user.username %></h1>
            <form action="/logout" method="get" class="logout-form">
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </div>
        <form action="/post" method="post">
            <input type="text" placeholder="Enter title" name="title">
            <input type="text" placeholder="Details" name="content">
            <button type="submit">Create</button>
        </form>

        <div class="container">
            <% user.posts.reverse().forEach(function(post) { %>
                <div class="card">
                    <h2><%= post.title %></h2>
                    <p><%= post.content %></p>
                    <div class="card-links">
                        <a href="/edit/<%= post._id%>" class="edit-link">Edit</a>
                        <a href="/delete/<%= post._id%>" class="delete-link">Delete</a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>
